@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Protopipo Sistema</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registrar Banco</h2>
        <p>
            Registre y edite los bancos a usar en el sistema.
        </p>
        <p><a class="btn btn-primary" href="~/Banco">Registrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrar Sucursal</h2>
        <p>Registrar y/o editar los datos de las sucursales.</p>
        <p><a class="btn btn-primary" href="~/Sucursal">Registrar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Órdenes de Pago</h2>
        <p>Registre las órdens de pago.</p>
        <p><a class="btn btn-primary" href="~/OrdenPago">Agendar Cita &raquo;</a></p>
    </div>
</div>
